{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="my-4">{{ page_title }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          {% trans 'ID' %}
        </th>
        <th>
          {% trans 'Username' %}
        </th>
        <th>
          {% trans 'Full name' %}
        </th>
        <th>
          {% trans 'Date of creation' %}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.get_full_name }}</td>
          <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'user_update' user.id %}">{% trans 'Edit' %}</a>
            <br />
            <a href="#">{% trans 'Delete' %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
