{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="my-4">
    {% if is_create_view %}
      {% trans 'Registration' %}
    {% else %}
      {% trans 'Update user' %}
    {% endif %}
  </h1>

  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="id_first_name">{% trans 'First name' %}</label><input type="text" name="first_name" maxlength="150" class="form-control" placeholder="{% trans 'First name' %}" required id="id_first_name" autofocus value="{{ form.first_name.value|default_if_none:'' }}" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_last_name">{% trans 'Last name' %}</label><input type="text" name="last_name" maxlength="150" class="form-control" placeholder="{% trans 'Last name' %}" required id="id_last_name" value="{{ form.last_name.value|default_if_none:'' }}" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_username">{% trans 'Username' %}</label><input type="text" name="username" maxlength="150" class="form-control" placeholder="{% trans 'Username' %}" required aria-describedby="id_username_helptext" id="id_username" value="{{ form.username.value|default_if_none:'' }}" />
      <div class="form-text">
        {% trans 'Required field.No more than 150 characters.Letters, numbers and symbols only ' %}@/./+/-/_.
      </div>
    </div>

    {% if is_create_view %}
      <div class="mb-3">
        <label class="form-label" for="id_password1">{% trans 'Password' %}</label><input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="{% trans 'Password' %}" aria-describedby="id_password1_helptext" id="id_password1" />
        <div class="form-text">
          <ul>
            <li>
              {% trans 'Your password must be at least 3 characters long.' %}
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="id_password2">{% trans 'Confirm password' %}</label><input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="{% trans 'Confirm password' %}" aria-describedby="id_password2_helptext" id="id_password2" />
        <div class="form-text">
          {% trans 'To confirm, please enter your password again.' %}
        </div>
      </div>
    {% endif %}

    {% if is_create_view %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Register' %}" />
    {% else %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}" />
    {% endif %}
  </form>
{% endblock %}
