.venv/
.env
dist/
build/
__pycache__/
*.pyc
**/.DS_Store
*.egg-info
.coverage
coverage.xml
*_cache/
.python-version
*.py[oc]
wheels/
*.sqlite3
htmlcov/
task_manager_sqlite.db
report.html
staticfiles
scripts/
task_manager/management/
dump.rdb
celerybeat-schedule*
