{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="my-4">{{ page_title }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="id_name">{% trans 'Name' %}</label>
      <input type="text"
             name="name"
             maxlength="150"
             class="form-control {% if form.name.errors %} is-invalid {% elif form.is_bound %} is-valid {% endif %}"
             placeholder="{% trans 'Name' %}"
             required
             id="id_name" 
             value="{{ form.name.value|default_if_none:'' }}"/>
      {% for error in form.name.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_description">{% trans 'Description' %}</label>
      <textarea name="description"
                cols="40"
                rows="10"
                class="form-control {% if form.description.errors %} is-invalid {% elif form.is_bound %} is-valid {% endif %}"
                placeholder="{% trans 'Description' %}"
                id="id_description"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_status">{% trans 'Status' %}</label>
      <select name="status"
              class="form-select {% if form.status.errors %} is-invalid {% elif form.is_bound %} is-valid {% endif %}"
              required
              id="id_status">
        <option value="" disabled {% if not form.status.value %}selected{% endif %}>---------</option>
        {% for status in statuses %}
          <option value="{{ status.id }}"
                  {% if status.id|stringformat:"s" == form.status.value|stringformat:"s" %}selected{% endif %}>
            {{ status.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_executor">{% trans 'Executor' %}</label>
      <select name="executor"
              class="form-select {% if form.executor.errors %} is-invalid {% elif form.is_bound %} is-valid {% endif %}"
              id="id_executor">
        <option value="" {% if not form.executor.value %}selected{% endif %}>---------</option>
        {% for user in executors %}
          <option value="{{ user.id }}"
                  {% if user.id|stringformat:"s" == form.executor.value|stringformat:"s" %}selected{% endif %}>
            {{ user.get_full_name|default:user.username }}
          </option>
        {% endfor %}
      </select>
    </div>
    {% if is_create_view %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}" />
    {% else %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}" />
    {% endif %}
  </form>
{% endblock %}
