{% extends 'base.html' %}
{% load i18n tz %}

{% block content %}
  <h1 class="my-4">{{ page_title }}</h1>

  <div class="card">
    <div class="card-header bg-secondary text-white">
      <h2>{{ task.name }}</h2>
    </div>
    <div class="card-body bg-light">
      <p>{{ task.description }}</p>
      <hr>
      <div class="container">
        <div class="row p-1">
          <div class="col">{% trans 'Author' %}</div>
          <div class="col">
            {% if task.author.get_full_name %}
              {{ task.author.get_full_name }} ({{ task.author.username }})
            {% else %}
              {{ task.author.username }}
            {% endif %}
          </div>
        </div>

        <div class="row p-1">
          <div class="col">{% trans 'Executor' %}</div>
          <div class="col">
            {% if task.executor %}
              {% if task.executor.get_full_name %}
                {{ task.executor.get_full_name }} ({{ task.executor.username }})
              {% else %}
                {{ task.executor.username }}
              {% endif %}
            {% else %}
              —
            {% endif %}
          </div>
        </div>

        <div class="row p-1">
          <div class="col">{% trans 'Status' %}</div>
          <div class="col">{{ task.status.name }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans 'Deadline' %}</div>
          <div class="col">
            {% if task.due_at %}
              {{ task.due_at|localtime|date:'d.m.Y H:i' }}
            {% else %}
              —
            {% endif %}
          </div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans 'Completed at' %}</div>
          <div class="col">
            {% if task.completed_at %}
              {{ task.completed_at|localtime|date:'d.m.Y H:i' }}
            {% else %}
              {% trans 'Pending' %}
            {% endif %}
          </div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans 'Date of creation' %}</div>
          <div class="col">{{ task.created_at|localtime|date:'d.m.Y H:i' }}</div>
        </div>
        <div class="row p-1">
          <div class="col">
            <h6>{% trans 'Labels' %}:</h6>
            <ul>
              {% for label in task.labels.all %}
                <li>{{ label.name }}</li>
              {% empty %}
                <li>—</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% if task.author == request.user %}
          <div class="row p-1">
            <div class="col">
              <a href="{% url 'task_update' task.id %}">{% trans 'Edit' %}</a>
              <br />
              <a href="{% url 'task_delete' task.id %}">{% trans 'Delete' %}</a>
            </div>
          </div>
        {% else %}
          <a href="{% url 'task_update' task.id %}">{% trans 'Edit' %}</a>
        {% endif %}
        {% if not task.completed_at %}
          {% if request.user == task.author or request.user == task.executor %}
            <div class="row p-1">
              <div class="col">
                <form method="post" action="{% url 'task_complete' task.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success mt-2">{% trans 'Mark as completed' %}</button>
                </form>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
