{% load i18n custom_filters %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title|format_title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light ms-3 me-3">
        <a class="navbar-brand" href="{% url 'index' %}">{% trans 'Task Manager' %}</a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_list' %}">{% trans 'Users' %}</a>
            </li>

            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'status_list' %}">{% trans 'Statuses' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'label_list' %}">{% trans 'Labels' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'task_list' %}">{% trans 'Tasks' %}</a>
              </li>
            {% endif %}
          </ul>

          <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <span class="nav-link">{{ request.user.get_full_name|default:request.user.username }}</span>
              </li>
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn nav-link">{% trans 'Logout' %}</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_create' %}">{% trans 'Sign up' %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="flex-grow-1">
      <div class="container wrapper">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags|bootstrap_message_class }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}" autofocus></button>
            </div>
          {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
      </div>
    </main>
    <footer class="border-top py-3 mt-5 flex-shrink-0">
      <div class="container-lg">
        <div class="text-center">
          <a href="https://t.me/webAmoeba" target="_blank">webAmoeba</a>
        </div>
      </div>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const input = document.querySelector('[data-autofocus]')
        if (input) {
          const value = input.value
          input.focus()
          input.setSelectionRange(value.length, value.length)
        }
      })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>
