{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="my-4 visually-hiddens">{% trans 'Task manager' %}</h1>
  <div class="card">
    <div class="card-body p-5 bg-light">
      <div class="display-4">{% trans 'Greetings from Hexlet!' %}</div>
      <p class="lead">{% trans 'Practical programming courses' %}</p>
      <hr>
      <a class="btn btn-primary btn-lg"
         href="https://ru.hexlet.io"
         target="_blank">{% trans 'Find out more' %}</a>
    </div>
  </div>
{% endblock %}
